<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

    <title>Questions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit question</h1>
	<div>
		<form th:object="${question}" th:action="@{../save}" action="#" method="post">
		  	<label for="questionName">Edit</label>
			<input type="text" id="questionName" th:field="*{questionName}" />
			
			<input class="btn btn-success" type="submit" value="Save"></input>
			
			<input type="hidden" id="questionId" th:field="*{questionId}">
		</form>
		
	</div>
</body>
</html>